body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:790px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:70px;
  top:10px;
  width:140px;
  height:80px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:80px;
}
#u2 {
  position:absolute;
  left:2px;
  top:32px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:247px;
  top:10px;
  width:543px;
  height:80px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:80px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:60px;
  top:100px;
  width:730px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:713px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:730px;
  height:1px;
}
#u7 {
  position:absolute;
  left:56px;
  top:388px;
  width:730px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:713px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:730px;
  height:1px;
}
#u8 {
  position:absolute;
  left:264px;
  top:398px;
  width:313px;
  height:32px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:32px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
