body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:790px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:70px;
  top:10px;
  width:140px;
  height:80px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:80px;
}
#u2 {
  position:absolute;
  left:2px;
  top:32px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:247px;
  top:10px;
  width:543px;
  height:80px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:80px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:60px;
  top:100px;
  width:730px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:713px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:730px;
  height:1px;
}
#u7 {
  position:absolute;
  left:56px;
  top:578px;
  width:730px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:713px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:730px;
  height:1px;
}
#u8 {
  position:absolute;
  left:264px;
  top:588px;
  width:313px;
  height:32px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:32px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:250px;
  top:140px;
  width:522px;
  height:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:250px;
  top:196px;
  width:300px;
  height:160px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:160px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:590px;
  top:196px;
  width:182px;
  height:160px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:160px;
}
#u15 {
  position:absolute;
  left:2px;
  top:72px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:60px;
  top:140px;
  width:140px;
  height:132px;
}
#u17_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:146px;
  height:138px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:137px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:30px;
  width:140px;
  height:36px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:66px;
  width:140px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:96px;
  width:140px;
  height:36px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
